.btn {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.btn--image {
  width: 40px;
  height: 40px;
  border: none;
  background-size: cover;
}

.btn--image:hover {
  rect {
    transition: all .8s ease;
    fill: rgba(245, 5, 5, 0.31);
  }
  path {
    transition: all .8s ease;
    fill: red;
  }
}

.btn--image-burger {
  margin-left: 1rem;
  order: 0;
}

.btn--image-logo {
  width: 96.548px;
  height: 50.815px;
  margin-left: 1rem;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 0;
  background-image: url('../img/logo.svg');
  order: 1;
}

.btn--image-repair {
  margin-left: 1rem;
}

.btn--image-status {
  margin: 0 1rem;
}

.btn--read {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  margin-top: 1rem;
  color: $text-color;
  font-family: "TT Lakes",sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.btn--read-cards {
  display: none;
  position: relative;
  z-index: 1;
  margin:0;
  top: -50px;
  bottom: 0;
}

.btn--read-repair {
  top: -30px;
}

//кнопки карточек (внутри)
.cards__btn {
  float: right;
  margin: 1rem 1rem 0 0;
  height: 40px;
  width: 40px;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.cards__btn--repair {
  margin-top: ((158px - 40px) - 16px);
}

//кнопки цен
.cards-price__button {
  display: flex;
  position: absolute;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  border-radius: 45px;
  align-items: center;
  justify-content: center;
  background-color: $button-color;
  width: 119px;
  height: 32px;
  border: none;
  cursor: pointer;
  &--margin {
    margin-left: 8px;
  }
  color: white;
  text-align: right;
  font-family: "TT Lakes", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
}
