.cards {
  display: flex;
  min-width: 0;
  &__item {
    display: flex;
    position: relative;
    justify-content: right;
    height: 72px;
    width: 240px !important;
    margin: 0 1.5rem 1rem 0;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    /*border: 1px solid red;*/
    background: #FFF;
  }
  //cards__item--repair repairCards
  &__item--repair {
    height: 160px;
    border: 1px solid red;
  }
  &__brand {
    position: absolute;
    left: 1rem;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  //cards__text repairCards
  &__text {
    top: 1rem;
  }
}
