//::backdrop {
//  background-color: $page-blur;
//  -webkit-backdrop-filter: blur(10px);
//  backdrop-filter: blur(10px);
//}

.modal {
  display: none;
  background-color: white;
  position: fixed;
  top: 0;
  z-index: 9999;
  overflow-y: visible;
  @media (min-width: $screen-lg) {
    display: block;
    position: initial;
    z-index: initial;
    overflow-y: hidden;
  }
  @media (min-width: $screen-lt) {
    width: 360px;
    overflow-y: auto;
  }
  animation-name: 'fade-in';
  animation-duration: 0.4s
  //animation: fade-out 0.7s ease-out
}

@keyframes fade-in {
  from {
    left:-300px;
    opacity:0;
  }
  to {
    left:0;
    opacity:1;
  }
}

.modal--size {
  height: 100vh;
  min-width: 320px;
}

.modal__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}


//.modal[open] {
//  animation: fade-in 0.7s ease-out;
//}

//@keyframes fade-in {
//  0% {
//    left: -100%;
//    opacity: 0;
//    display: none;
//  }
//
//  100% {
//    left: 0;
//    opacity: 1;
//    display: block;
//  }
//}
//
//@keyframes fade-out {
//  0% {
//    left: 0;
//    display: block;
//  }
//
//  100% {
//    left: -100%;
//    display: none;
//  }
//}

.dialog {
  display: flex;
  flex-direction: column;
  @media (min-width: $screen-lg) {
    overflow: hidden;
  }
}

.dialog--height {
  height: inherit;
}

.dialog__nav  {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}

.dialog__bt {
  height: 40px;
  margin-right: 1rem;
  border: none;
  cursor: pointer;
  background-color: inherit;
  border-radius: 50%;
  :first-child {
    margin-left: 1rem;
  }
}

#close-dialog {
  @media (min-width: $screen-lg) {
    display: none;
  }
}

.dialog__logo {
  @media (min-width: $screen-lg) {
    flex-grow: 0;
    margin-right: auto;
    margin-left: 1rem;
  }
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 4.8rem;
}

.dialog__svg:hover rect {
  transition: all .8s ease;
  fill: rgba(245, 5, 5, 0.31);
}

.dialog__svg:hover path {
  transition: all .8s ease;
  fill: red;
}

.list {
  display: flex;
  flex: 1 0 auto;
  &__nav {
    margin-top: 3.16rem;
    margin-left: 1.5rem;
    margin-bottom: 2rem;
  }
}

.list__item:not(.list__item:first-child) {
  margin-top: 1.5rem;
}

.list__ref,
.dialog__mail-font,
.dialog__lang-text{
  color: $text-color;
  font-family: "TT Lakes", sans-serif ;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  &:hover {
    color: $text-title;
    .list__highlight {
      visibility: visible;
    }
  }
}

.list__highlight {
  position: absolute;
  left: 0;
  transform:translate(50%, -15%);
  z-index: 9999;
  visibility: hidden;
}

.dialog__bt-footer {
  margin-right: 0;
}

.dialog__mail,
.dialog__cn,
.dialog__lang {
  margin-top: 1rem;
  margin-left: 1.5rem;
}

.dialog__lang-list {
  display: flex;
}

.dialog__lang-bt {
  border: none;
  background: inherit;
  margin-right: 0.45rem;
}

.dialog__cn-font {
  color: $text-color;
  font-family: "TT Lakes", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.dialog__lang-text {
  display: inline-block;
  transition: transform 0.3s ease;
  &:hover {
    color: $text-title;
    transform: scale(1.2);
  }
}
