@media (min-width: $screen-md) {
  .nav__btn-right {
    .hidden {
      display: block !important;
    }
  }

  .nav__btn-left {
    .nav__divider {
      order: 2;
    }
  }

  .main__description-contain {
    justify-content: space-between;
    flex-direction: row;
  }

  .main__description-img {
    width: 360px;
    height: 259.655px;
    margin-left: 3rem;
    flex-shrink: 0;
  }

  .cards {
    flex-wrap: wrap;
    justify-content: left;
    &__hidden {
      display: none !important;
    }
    &__hidden--repair {
      display: none !important;
    }
    &__show-md {
      display: flex !important;
    }
  }

  .btn--read-cards {
    display: flex;
  }

  .swiper {
    width: inherit !important;
  }
  .swiper-pagination {
    display: none;
  }
}
