@media (min-width: $screen-md) {
  .nav__btn-right {
    .hidden {
      display: block;
    }
  }

  .nav__btn-left {
    .nav__divider {
      order: 2;
    }
  }

  .cards {
    flex-wrap: wrap;
    justify-content: left;
  }

  .swiper {
    width: inherit;
    overflow: visible;
  }
  .swiper-pagination {
    display: none;
  }
}
