@import '~normalize.css';
*, *:before, *:after {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Regular.woff") format("woff"), url("../fonts/TTLakes-Regular.eot") format("eot");
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Medium.woff") format("woff"), url("../fonts/TTLakes-Medium.eot") format("eot");
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "TT Lakes";
  src: url("../fonts/TTLakes-Bold.woff") format("woff"), url("../fonts/TTLakes-Bold.eot") format("eot");
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
}
.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 88px;
  border-bottom: 1px solid #D9FFF5;
}

.nav__btn-right, .nav__btn-left {
  display: flex;
  height: inherit;
  width: fit-content;
  align-items: center;
}

.nav__btn-right .hidden {
  display: none;
}

.nav__divider {
  width: 2px;
  height: 32px;
  border-radius: 1px;
  background: #EAEAEA;
  margin-left: 1rem;
}

.btn {
  padding: 0;
  margin: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
}

.btn--image {
  width: 40px;
  height: 40px;
  border: none;
  background-size: cover;
}

.btn--image:hover rect {
  transition: all 0.8s ease;
  fill: rgba(245, 5, 5, 0.31);
}
.btn--image:hover path {
  transition: all 0.8s ease;
  fill: red;
}

.btn--image-burger {
  margin-left: 1rem;
  order: 0;
}

.btn--image-logo {
  width: 96.548px;
  height: 50.815px;
  margin-left: 1rem;
  cursor: not-allowed;
  pointer-events: none;
  border-radius: 0;
  background-image: url("../img/logo.svg");
  order: 1;
}

.btn--image-repair {
  margin-left: 1rem;
}

.btn--image-status {
  margin: 0 1rem;
}

.btn--read {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: start;
  margin-top: 1rem;
  color: #1B1C21;
  font-family: "TT Lakes", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.main {
  display: flex;
  flex-direction: column;
}

.main__title {
  display: flex;
  margin-top: 1.5rem;
}

.main__title-highlight {
  margin-right: 0.75rem;
}

.main__title-text {
  margin: 0;
  padding: 0;
  white-space: nowrap;
  font-family: "TT Lakes", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: -0.6px;
}

.main__description {
  display: flex;
  flex-direction: column;
}

.main__description-nav {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  align-items: center;
  flex-basis: content;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.main__description-nav--slide {
  margin: 1px;
  padding: 0.5rem 1rem;
  font-family: "TT Lakes", sans-serif;
  color: #7E7E82;
  font-size: medium;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.2px;
  cursor: pointer;
  white-space: nowrap;
}
.main__description-nav--slide:hover {
  outline: 2px solid #B8FFEC;
  border-radius: 6px;
  background: #FFF;
}

.main__description-text {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0 0 1rem;
}
.main__description-text p {
  color: #1B1C21;
  font-family: "TT Lakes", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.2px;
}

@media (min-width: 768px) {
  .nav__btn-right .hidden {
    display: block;
  }

  .nav__btn-left .nav__divider {
    order: 2;
  }
}

/*# sourceMappingURL=style.css.map */
