@import "../../node_modules/swiper/swiper";
@import "../../node_modules/swiper/modules/pagination";

.swiper {
  width: 320px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  line-height: 20px;
  font-size: 14px;
  background-color: #B5B6BC;
}
